{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    }
  ]
}
